@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

.glasses {
  justify-content: center;
  display: flex;
}
.waterLabel {
  font-size: 6em;
  font-family: "Comfortaa";
}
